@font-face {
  font-family: Spartan;
  src: url("/- Fonts/LeagueSpartan-VariableFont_wght.ttf");
}
:root {
  --colorLight: #f2f4f3;
  --colored: #49111c;
  --colorDark: #a9927d;
  --colorDarker: #5e503f;
  --colorText: #0a0908;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Spartan;
  font-size: 1.2rem;
}
h1 {
  font-size: 1.7rem;
}
h2 {
  font-size: 1.5rem;
}

/* ? Base */
header {
  background-color: var(--colored);
  color: var(--colorLight);
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main {
  background-color: var(--colorLight);
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  width: 95%;
  height: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  grid-template-areas:
    "t1 i1 i2"
    "t1 t2 i3"
    "i4 t3 t3";
}
svg {
  display: none;
  fill: var(--colorLight);
}
.i1 {
  grid-area: i1;
  background-image: url("/Img/I1.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position-y: 90%;
  background-position-x: 100%;
}
.i2 {
  grid-area: i2;
  background-image: url("/Img/I2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 53%;
  background-position-x: 50%;
}
.i3 {
  grid-area: i3;
  background-image: url("/Img/I3.jpg");
  background-size: 140%;
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: 35%;
}
.i4 {
  grid-area: i4;
  background-image: url("/Img/I4.jpg");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position-y: 50%;
}
.t1 {
  grid-area: t1;
  background-color: var(--colorDarker);
  color: var(--colorText);
  padding: 1rem;
  line-height: 1.2rem;
}
.t2 {
  grid-area: t2;
  background-color: var(--colorDark);
  color: var(--colorText);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  line-height: 2rem;
}
.t3 {
  grid-area: t3;
  background-color: var(--colorDarker);
  color: var(--colorText);
  padding: 1rem;
  line-height: 1.2rem;
}

/* ? Ordinateur */
@media (max-width: 1500px) {
  .i1 {
    background-size: 130%;
    background-position-x: 80%;
  }
  .i2 {
    background-size: 150%;
    background-position-y: 52%;
  }

  /* ? Tab */
  @media (max-width: 1200px) {
    * {
      font-size: 1.2rem;
    }
    h1 {
      font-size: 1.7rem;
    }
    h2 {
      font-size: 1.4rem;
    }
    .mainContainer {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "t1 t1 t1"
        "i1 i2 i3"
        "t2 t2 t2"
        "i4 t3 t3";
    }
    .i1 {
      background-size: 160%;
      background-position-x: 70%;
    }
    .i2 {
      background-size: 150%;
      background-position-x: 55%;
      background-position-y: 50%;
    }
    .i3 {
      background-image: url("/Img/I3B.jpg");
      background-size: 140%;
      background-position-y: 50%;
      background-position-x: 45%;
    }
    .i4 {
      background-size: 160%;
      background-position-y: 35%;
      background-position-x: 45%;
    }
  }

  /* ? GSM */
  @media (max-width: 768px) {
    * {
      font-size: 1.1rem;
    }
    h1 {
      font-size: 1.6rem;
    }
    h2 {
      font-size: 1.3rem;
    }
    .titleName {
      display: none;
    }
    svg {
      display: flex;
      height: 1.8rem;
    }
    .mainContainer {
      padding-top: 5%;
      padding-left: 5%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "t1 t1"
        "i1 i2"
        "t2 t2"
        "i4 i4"
        "t3 t3";
    }
    .i1 {
      background-size: 125%;
    }
    .i2 {
      background-size: 125%;
      background-position-x: 70%;
    }
    .i4 {
      background-image: url("/Img/I4B.jpg");
      background-size: 100%;
      background-position-y: center;
    }
  }
}
